.footer {
  padding-top: 16.5rem;
  background-color: #11024b;
}
.footer_wrapper {
  @include flex(space-between, flex-start, row);
  column-gap: 2rem;
  padding-bottom: 10.7rem;
  padding-left: 17rem;
}
.footer_logo {
  height: 100%;
  width: 100%;
  position: relative;
  flex: 2;
  text-align: center;
  z-index: 1;
}
#footer__logo {
  top: 4rem;
  left: -11rem;
}
#footer__logo_h6 {
  font-size: 6.2rem;
}
#footer__logo_ellipse {
  height: 8.54rem;
  width: 20.16rem;
}
.links {
  flex: 1;
  @include flex(space-between, flex-start, column);
  font-size: $header5;
  row-gap: 2.9rem;
}
.links_name {
  color: #3531a9;
}
.copyright {
  background-color: #09002b;
  width: 100%;
  font-size: 1rem;
  font-family: $sf-font;
  text-align: center;
  padding: 1.15rem 0;
}

@media screen and (max-width: 1100px) {
  .footer_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 5rem;
  }
  #footer__logo {
    top: 11rem;
    left: -5rem;
  }
}
@media screen and (max-width: 967px) {
  .footer{
    margin-top: 5rem;
    padding-top: 5rem;

  }
  .footer_wrapper {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5rem;

    gap: 5rem;
    @include flex(space-between, center, column);
    ul{
      align-items: center;
    }
  }
  .footer{
    .footer_logo{
      display: none;
    }
  }
  #footer__logo {
   display: none;
  }
}
@media screen and (max-width: 967px) {
  .footer{
    margin-top: 6rem;
  }
}

