.singers {
  min-height: 50vh;
  height: 60vh;
  @include flex(space-between, center, row);
  background-color: #11024b;
}
.singers_main {
  width: 100%;
  height: 100%;
  @include flex(center, flex-start, column);
  row-gap: 2rem;
  flex: 1;
  h2,
  p {
    padding: 0 25.3rem 0 10rem;
  }
  button {
    margin: 0 25.3rem 0 10rem;
  }
}
.singers_img {
  height: 100%;
  flex: 1;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.singers_button {
  background-color: #3531a9;
}

@media screen and (max-width: 1159px) {
  .singers{
    height: 50vh;
  }
  .singers_main {
    h2 {
      padding: 0 10.3rem 0 10rem;
    }
    p {
      padding: 0 16.3rem 0 10rem;
    }
  }
}
@media screen and (max-width: 992px) {
  .singers {
    position: relative;
  }
  .singers_main {
    @include flex(center, center, column);
    z-index: 3;
    top: 0;
    text-shadow: 1px 1px 20px black;
    left: 0;
    position: absolute;
    h2 {
      text-align: center;
      
      padding: 1rem;
    }
    p {
      text-shadow: 1px 1px 13px black;
      padding: 1rem;
      text-align: center;
    }
    button {
      align-self: center;
      margin: 0;
    }
  }
  .singers_img {
    height: 100%;
    flex: 1;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 101%;
      background-color: rgba(19, 16, 105, 0.473);
      z-index: 2;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      -webkit-filter: blur(3px);
      z-index: 1;
    }
  }
}
@media screen and (max-width: 429px) {
  .singers_main {
    h2,
    p {
      padding: 0 2rem;
      text-align: center;
    }
  }
  .singers_img{
    img{
      object-fit: calc(cover-10px);
      
    }
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 101%;
      background-color: rgba(19, 16, 105, 0.473);
      z-index: 2;
    }
    
  }
}
