@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
@font-face {
  font-family: 'SF-Pro';
  src: url("../../assets/fonts/SF-Pro-Display-Regular.eot");
  src: local("☺"), url("../../assets/fonts/SF-Pro-Display-Regular.woff") format("woff"), url("../../assets/fonts/SF-Pro-Display-Regular.ttf") format("truetype"), url("../../assets/fonts/SF-Pro-Display-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF-Pro';
  src: url("../../assets/fonts/SF-Pro-Display-Medium.eot");
  src: local("☺"), url("../../assets/fonts/SF-Pro-Display-Medium.woff") format("woff"), url("../../assets/fonts/SF-Pro-Display-Medium.ttf") format("truetype"), url("../../assets/fonts/SF-Pro-Display-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF-Pro';
  src: url("../../assets/fonts/SF-Pro-Display-Bold.eot");
  src: local("☺"), url("../../assets/fonts/SF-Pro-Display-Bold.woff") format("woff"), url("../../assets/fonts/SF-Pro-Display-Bold.ttf") format("truetype"), url("../../assets/fonts/SF-Pro-Display-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: #09002b;
  color: #fff;
}

body {
  font-family: "SF-Pro", sans-serif, serif;
  -webkit-animation: opening 1s ease-in-out;
          animation: opening 1s ease-in-out;
}

a {
  text-decoration: none;
  color: white;
}

a:active, a:visited {
  color: white;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 6.4rem;
  font-weight: bold;
}

h2 {
  font-size: 4.8rem;
  font-weight: bold;
}

h3 {
  font-size: 3.6rem;
  font-weight: bold;
}

h4 {
  font-size: 3rem;
  font-weight: bold;
}

h5 {
  font-size: 1.8rem;
  font-weight: bold;
}

p {
  font-size: 1.6rem;
}

.wrapper {
  padding: 0 9.7rem;
  height: 100%;
  width: 100%;
}

.logo {
  font-family: "Caveat", cursive;
  font-size: 4.6rem;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.logo_ellipse {
  height: 4.27rem;
  width: 10.08rem;
  border-radius: 117px/50px;
  background: #3531a9;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  position: absolute;
  top: -2px;
  left: 12px;
  z-index: -1;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 0 2.5rem;
  height: 34.4rem;
  width: 27.5rem;
  -webkit-box-shadow: -3px 4px 42px 0px rgba(34, 60, 80, 0.2);
          box-shadow: -3px 4px 42px 0px rgba(34, 60, 80, 0.2);
  border-radius: 2.5rem;
  background: linear-gradient(135deg, #3531a9 37%, #4304a4 100%);
  margin: 0 2rem;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.button {
  border-radius: 0.5rem;
  width: 13rem;
  height: 4.3rem;
  padding: 0 0.5rem;
  border: none;
  color: white;
  font-family: "SF-Pro", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  cursor: pointer;
}

.button:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.header {
  padding: 0.8rem 0;
  margin: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #240030), to(#350055));
  background: linear-gradient(180deg, #240030 10%, #350055 100%);
  border: none;
  z-index: 99;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
}

.header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header_logo {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  text-align: center;
  position: relative;
}

.header_features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.header_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.burger span {
  padding: 0.1rem 1.5rem;
  background: whitesmoke;
  margin: 0.5rem 0;
  display: block;
}

.close {
  z-index: 99;
  position: absolute;
  right: 13vw;
  top: calc(5vh+1rem);
  width: 3.2rem;
  height: 3.2rem;
}

.close:before,
.close:after {
  position: absolute;
  left: 1.5rem;
  content: " ";
  height: 3.3rem;
  width: 0.2rem;
  background-color: whitesmoke;
}

.close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger,
.close {
  display: none;
}

@media screen and (max-width: 900px) {
  .header .wrapper {
    padding: 0 5rem;
  }
}

@media screen and (max-width: 640px) {
  .header .wrapper {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 640px) {
  .burger,
  .close {
    display: inline-block;
  }
  .header_small_off .header_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header_small_off .wrapper {
    padding: 0 0 0 0;
  }
  .header_small_off .header_features {
    display: none;
  }
  .header_small_off .header_logo {
    display: none;
  }
  .header_small_off .header_socials {
    padding-left: 2rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
  .header_small_off .burger {
    right: 13vw;
    position: absolute;
  }
  .header_small_on .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
  }
  .header_small_on .header_features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .header_small_on .header_features h5 {
    font-size: 3.5rem;
  }
  .header_small_on .header_socials {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header_small_on .header_socials img {
    height: 5rem;
  }
  .header_small_on .header_logo {
    display: none;
  }
  .header_small_on .close,
  .header_small_on .burger {
    top: 4%;
    position: absolute;
    right: 8vw;
  }
}

.intro {
  min-height: 90vh;
  height: 90vh;
  background-image: url("../../assets/img/introImg.svg");
  background-position: center;
  background-size: cover;
}

.intro img {
  margin: 0;
}

.intro_main {
  width: 100%;
  height: 100%;
  padding-bottom: 11rem;
  text-shadow: 1px 1px 45px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.intro_main img {
  width: 18rem;
}

@media screen and (max-width: 605px) {
  .intro_main h1 {
    font-size: 4.8rem;
  }
  .intro_main h3 {
    font-size: 3rem;
  }
  .intro_main img {
    width: 15rem;
  }
}

@media screen and (max-width: 605px) {
  .intro_main {
    padding-top: 13rem;
  }
  .intro_main h1 {
    font-size: 4.6rem;
  }
  .intro_main h3 {
    padding-top: 1rem;
    font-size: 2.8rem;
  }
  .intro_main img {
    padding-top: 1rem;
    width: 18rem;
  }
}

@media screen and (max-width: 489px) {
  .wrapper {
    padding: 3rem;
  }
  .intro_main {
    padding-top: 13rem;
  }
  .intro_main h1 {
    font-size: 3.6rem;
  }
  .intro_main h3 {
    padding-top: 1rem;
    font-size: 1.8rem;
  }
  .intro_main img {
    padding-top: 4rem;
    width: 18rem;
  }
}

.plans {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10rem 0;
}

.plans_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.plans_cards {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 4rem;
}

.plans_button {
  margin-top: 6.6rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#c157ab), to(#fb85a1));
  background: linear-gradient(180deg, #c157ab, #fb85a1);
}

.plans_cards:hover > .card:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.plans_cards:hover > .card:not(:hover) {
  opacity: 0.5;
}

.singers {
  min-height: 50vh;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #11024b;
}

.singers_main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.singers_main h2,
.singers_main p {
  padding: 0 25.3rem 0 10rem;
}

.singers_main button {
  margin: 0 25.3rem 0 10rem;
}

.singers_img {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.singers_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.singers_button {
  background-color: #3531a9;
}

@media screen and (max-width: 1159px) {
  .singers {
    height: 50vh;
  }
  .singers_main h2 {
    padding: 0 10.3rem 0 10rem;
  }
  .singers_main p {
    padding: 0 16.3rem 0 10rem;
  }
}

@media screen and (max-width: 992px) {
  .singers {
    position: relative;
  }
  .singers_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 3;
    top: 0;
    text-shadow: 1px 1px 20px black;
    left: 0;
    position: absolute;
  }
  .singers_main h2 {
    text-align: center;
    padding: 1rem;
  }
  .singers_main p {
    text-shadow: 1px 1px 13px black;
    padding: 1rem;
    text-align: center;
  }
  .singers_main button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0;
  }
  .singers_img {
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .singers_img:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 101%;
    background-color: rgba(19, 16, 105, 0.473);
    z-index: 2;
  }
  .singers_img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-filter: blur(3px);
    z-index: 1;
  }
}

@media screen and (max-width: 429px) {
  .singers_main h2,
  .singers_main p {
    padding: 0 2rem;
    text-align: center;
  }
  .singers_img img {
    -o-object-fit: calc(cover-10px);
       object-fit: calc(cover-10px);
  }
  .singers_img:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 101%;
    background-color: rgba(19, 16, 105, 0.473);
    z-index: 2;
  }
}

.others {
  padding-top: 11.9rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  row-gap: 6.6rem;
}

.others_main p {
  width: 60%;
  margin: auto;
}

@media screen and (max-width: 660px) {
  .others img {
    width: 90%;
  }
  .others_main {
    width: 90%;
  }
  .others_main h2 {
    font-size: 3.6rem;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 385px) {
  .others img {
    width: 90%;
  }
  .others_main {
    width: 90%;
  }
  .others_main h2 {
    font-size: 3rem;
    padding-bottom: 1rem;
  }
  .others_main p {
    font-size: 1.6rem;
  }
}

.devices {
  min-height: 90vh;
  height: 90vh;
}

.devices img {
  position: absolute;
}

.devices_wrapper {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.devices_main {
  width: 60%;
}

.devices_main p {
  float: left;
  width: 60%;
  margin: auto;
}

.devices_phone {
  width: 30rem;
  top: 36.2rem;
  right: 74rem;
  z-index: 9;
}

.devices_desktop {
  height: 46rem;
  right: 16.7rem;
  top: 27.3rem;
}

@media screen and (max-width: 1680px) {
  .devices_main {
    width: 70%;
  }
  .devices_phone {
    width: 20rem;
    top: 32.2rem;
    right: 50rem;
    z-index: 9;
  }
  .devices_desktop {
    height: 30rem;
    right: 12.7rem;
    top: 27.3rem;
  }
}

@media screen and (max-width: 1358px) {
  .devices_main {
    width: 50%;
  }
  .devices_phone {
    width: 20rem;
    top: 32.2rem;
    right: 38rem;
    z-index: 9;
  }
  .devices_desktop {
    height: 30rem;
    right: 2.7rem;
    top: 27.3rem;
  }
}

@media screen and (max-width: 1085px) {
  .devices_wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .devices_main {
    width: 100%;
    text-align: center;
    padding-top: 20rem;
  }
  .devices_main p {
    float: none;
  }
  .devices_phone {
    width: 20rem;
    top: 43.2rem;
    left: 0;
    right: -38rem;
    margin-left: auto;
    margin-right: auto;
    z-index: 9;
  }
  .devices_desktop {
    height: 30rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 38.3rem;
  }
}

@media screen and (max-width: 791px) {
  .devices_main p {
    width: 100%;
  }
}

@media screen and (max-width: 585px) {
  .devices_main h2 {
    width: 100%;
    font-size: 3.6rem;
  }
  .devices_main p {
    font-size: 1.6rem;
    width: 100%;
  }
}

@media screen and (max-width: 530px) {
  .devices_phone {
    width: 14rem;
    top: 44.2rem;
    left: 0;
    right: -34rem;
    margin-left: auto;
    margin-right: auto;
    z-index: 9;
  }
  .devices_desktop {
    height: 23rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 38.3rem;
  }
}

@media screen and (max-width: 431px) {
  .devices_main h2 {
    font-size: 3rem;
  }
  .devices_phone {
    width: 11rem;
    top: 45.2rem;
    left: 0;
    right: -20rem;
    margin-left: auto;
    margin-right: auto;
    z-index: 9;
  }
  .devices_desktop {
    height: 20rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 38.3rem;
  }
}

.footer {
  padding-top: 16.5rem;
  background-color: #11024b;
}

.footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  padding-bottom: 10.7rem;
  padding-left: 17rem;
}

.footer_logo {
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center;
  z-index: 1;
}

#footer__logo {
  top: 4rem;
  left: -11rem;
}

#footer__logo_h6 {
  font-size: 6.2rem;
}

#footer__logo_ellipse {
  height: 8.54rem;
  width: 20.16rem;
}

.links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.8rem;
  row-gap: 2.9rem;
}

.links_name {
  color: #3531a9;
}

.copyright {
  background-color: #09002b;
  width: 100%;
  font-size: 1rem;
  font-family: "SF-Pro", sans-serif;
  text-align: center;
  padding: 1.15rem 0;
}

@media screen and (max-width: 1100px) {
  .footer_wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(20rem, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 5rem;
  }
  #footer__logo {
    top: 11rem;
    left: -5rem;
  }
}

@media screen and (max-width: 967px) {
  .footer {
    margin-top: 5rem;
    padding-top: 5rem;
  }
  .footer_wrapper {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5rem;
    gap: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_wrapper ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer_logo {
    display: none;
  }
  #footer__logo {
    display: none;
  }
}

@media screen and (max-width: 967px) {
  .footer {
    margin-top: 6rem;
  }
}
